a {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100%;
  background-color: inherit;
  padding: 20px 0;
  margin-top: 8rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #083c5d;
}

.footer__container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.join__link__icons {
  display: block;
  align-content: center;
  cursor: pointer;
}

.link__icons {
  width: 2.5rem;
  margin-right: 20px;
}

.link__icons:hover {
  transform: scale(1.3);
  transition: all 0.2s;
}

.email__link {
  width: 100%;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #083c5d;
}

#email__link__icon {
  height: 0.75rem;
  width: 0.75rem;
  object-fit: cover;
}

.email__link:hover .email {
  color: #083c5d;
}

.email__link:hover #email__link__icon {
  transform: scale(1.5);
  transition: all 0.2s;
}

.email {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(19, 19, 19, 0.5);
}


@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #right__footer__container {
    margin-top: 40px;
  }

  .join__link__icons {
    margin-top: 20px;
  }

  .link__icons {
    width: 2rem;
    margin: 0 10px;
  }
  
  .email__link {
    justify-content: center;
    text-align: center;
  }

  .email {
    width: fit-content;
  }

  #email__link__icon {
    margin-left: 20px;
  }
}