.social__media {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.share__icons {
  cursor: pointer;
}

.share__icons:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}

.dumpwall__section {
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255, 0.1);
}

.dumpwall__section-leftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.dumpwall__section-leftContainer p:nth-of-type(1) {
  margin-bottom: 1rem;
  font-size: 16px;
  color: var(--color-theme-green);
  font-weight: 200;
}

.dumpwall__section-leftContainer p:nth-of-type(2) {
  font-size: 20px;
  color: var(--color-white);
}

.dumpwall__section-mailLink {
  color: var(--color-theme-green);
}

.email {
  font-weight: 300;
  text-decoration: underline;
}

.dumpwall__section-mailLink img {
  width: 15px;
  margin-left: 1rem;
}

.dumpwall__section-rightContainer:hover img {
  transform: scale(1.2);
  transition: all 0.1s;
}

@media screen and (min-width: 2000px) {
  .dumpwall__section-leftContainer p:nth-of-type(1) {
    font-size: 22px;
    margin-bottom: 2rem;
  }

  .dumpwall__section-leftContainer p:nth-of-type(2) {
    font-size: 28px;
  }
}

@media screen and (max-width: 1000px) {
  .dumpwall__section {
    flex-direction: column;
    align-items: flex-start;
  }

  .dumpwall__section-leftContainer p:nth-of-type(1) {
    margin-bottom: 0;
  }

  .dumpwall__section-leftContainer p:nth-of-type(2) {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 450px) {
  .dumpwall__section {
    padding: 10px;
  }

  .dumpwall__section-leftContainer p:nth-of-type(1) {
    font-size: 12px;
  }

  .dumpwall__section-leftContainer p:nth-of-type(2) {
    font-size: 14px;
  }

  .dumpwall__section-mailLink img {
    width: 10px;
  }
}
