.body__bg {
  min-height: 100vh;
  background-image: radial-gradient(circle at 0% 0%, #80ed99 0, #006ead 20%, transparent 50%),
    radial-gradient(circle at 60% 22.5%, #80ed99 0, #006ead 25%, transparent 50%),
    radial-gradient(circle at 0 50%, #80ed99 0, #006ead 25%, transparent 50%),
    radial-gradient(circle at 100% 65%, #80ed99 0, #006ead 25%, transparent 50%);
  background-color: #006ead;
}

.section__padding {
  padding: 40px 15vw;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__justify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p__normal {
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 12px;
}

.p__bold {
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 20px;
}

.custom__button {
  background-color: transparent;
  border: 1px solid var(--color-theme-green);
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 12px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: unset;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 2000px) {
  .p__normal {
    font-size: 20px;
  }

  .p__bold {
    font-size: 25px;
  }

  .custom__button {
    font-size: 20px;
    padding: 0.75rem 2.5rem;
  }
}

@media screen and (min-width: 2000px) {
  .body__bg {
    background-image: radial-gradient(circle at 0% 0%, #80ed99 0, #006ead 20%, transparent 50%),
      radial-gradient(circle at 70% 22.5%, #80ed99 0, #006ead 25%, transparent 50%),
      radial-gradient(circle at 0 50%, #80ed99 0, #006ead 25%, transparent 50%),
      radial-gradient(circle at 100% 65%, #80ed99 0, #006ead 25%, transparent 50%);
  }

  .p__bold {
    font-size: 28px;
  }
}

@media screen and (max-width: 1000px) {
  .body__bg {
    background-image: radial-gradient(
        circle at 0% 0%,
        rgba(128, 237, 153, 0.6) 0,
        rgba(5, 42, 66, 0.8) 50%,
        transparent 100%
      ),
      radial-gradient(circle at 0 50%, #80ed99 0, #006ead 25%, transparent 50%),
      radial-gradient(circle at 100% 65%, #80ed99 0, #006ead 25%, transparent 50%);
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 0.5rem 0.75rem;
  }

  .p__normal {
    font-size: 10px;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 0.5rem 0.75rem;
  }

  .p__normal {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__normal {
    font-size: 10px;
  }

  .p__bold {
    font-size: 14px;
  }
}
